* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'pPoppins';
    background-color: #fafafa;
}

h1 {
    width: 100%;
    max-width: 300px;
    height: 36px;
    font-size: 2.4rem;
    font-weight: 200;
    letter-spacing: 0.17px;
    text-align: center;
    color: #4d4f62;
}

h1 span {
    font-weight: 600;
    color: #4d4f62;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
}

header p {
    text-align: center;
    margin: 16px;
    font-size: 15px;
    line-height: 1.67;
    letter-spacing: 0.1px;
    color: #4d4f62;
    margin-top: 25px;
}

main {
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 78px;
    padding: 10px;
}

.card {
    width: 100%;
    max-width: 311px;
    height: 222px;
    padding: 28px;
    border-radius: 8px;
    box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
    background-color: #fff;
    position: relative;
    border-top: 3.6px solid;
}

.card h2 {
    color: #4d4f62;
    font-size: 20px;
    font-weight: 600;
}

.card p {
    color: #4d4f62;
    font-size: 13px;
    opacity: 0.5;
    line-height: 1.77;
    letter-spacing: 0.09px;
}

.card img {
    position: absolute;
    right: 28px;
    bottom: 28px;
}

.supervisor{
    border-top-color:  #44d3d2;
}

.teamBuilder{
    border-top-color:  #ea5454;
}

.karma{
    border-top-color:  #fcae4a;
}

.calculator{
    border-top-color:  #549ef2;
}

.wrap {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

@media (min-width: 1440px) {
    header h1 {
        font-size: 36px;
        max-width: 532px;
    }

    
    header p {
        width: 560px;
        margin-top: 60px;
    }

    main {
        flex-direction: row;
        gap: 30px;
        justify-content: center;
    }

    .wrap {
        gap: 30px;
    }
}